{% extends 'base.html.twig' %}

{% block title %}Hello PersonalController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <p>Супер секретный личный кабинет!</p>
</div>
{% endblock %}
